OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=dolphin-mistral:latest
HUGGING_FACE_MODEL_NAME=BAAI/bge-small-en
HUGGING_FACE_MODEL_KWARGS=cpu
CHROMA_PATH=./tmp/chroma
UPLOAD_FOLDER=static/tmp/
RELEVANCE_THRESHOLD=0.7
